.card {
  user-select: none;

  &:hover h3 {
    color: $blue;
  }
  &:hover .features-icon .wrapper {
    background-color: white;
  }
  &:hover .wrapper .fa {
    color: $blue;
  }
}

.features-image {
  background-image: url("../../images/phone_hand.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.features-icon {
  .wrapper {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-top: 1.4em;
    background-color: $gradient-end;

    .fa {
      color: white;
      font-size: 22px;
    }
  }
}
