.navbar-nav .nav-item .nav-link {
  font-size: 14px;
  font-weight: 700;
}
.navbar-nav .nav-item .nav-link:hover,
.navbar-nav .nav-item .nav-link:active {
  color: $blue;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    left: 50%;
    bottom: 0.2rem;
    height: 2px;
    width: 98%;
    transform: translateX(-50%);
    background: $blue;
  }
}

.btn-app-store,
.btn-google-play {
  width: 160px;
  height: 50px;
  background-size: cover;
  padding: 0;
  border-radius: 6px;
  background-repeat: no-repeat;
  background-position: center;
}
.btn-app-store {
  background-image: url("../../images/app-store-logo.png");
}

.btn-google-play {
  background-image: url("../../images/google-play.png");
}
