body {
  position: relative;
}

.btn {
  border-radius: 25px;
  background-color: $blue;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
}

section {
  padding-top: 5em;
  padding-bottom: 5em;

  p {
    color: $gray-text;
  }
}

.section-hero {
  height: 100vh;
  background-image: $gradient;
}

.attributes {
  .wrapper {
    padding: 2px;
    border-radius: 6px;
    user-select: none;

    i {
      color: $gradient-end;
    }
  }

  .wrapper:hover {
    background-image: $gradient;

    & h5 {
      color: $blue;
    }
    & .fa {
      color: $blue;
    }
    & a {
      color: $blue;
    }
    p {
      color: black;
    }
  }
}

.section-features {
  background-color: $gray-light;
}

%common-underline {
  position: absolute;
  content: "";
  height: 2px;
  width: 40px;
  left: 50%;
  bottom: -0.6em;
  transform: translateX(-50%);
  background-color: $blue;
}

h2 {
  position: relative;

  &::after {
    @extend %common-underline;
    width: 90px;
  }
  &::before {
    @extend %common-underline;
    width: 8px;
    height: 8px;
    bottom: -0.7em;
    border-radius: 50%;
  }
}

h3 {
  font-size: 24px;
}
h5 {
  position: relative;

  &::after {
    @extend %common-underline;
  }
}
