.btn {
  border-radius: 25px;
  background-color: $blue;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
}

.section-hero {
  height: 100vh;
  background-image: $gradient;
}

.features {
  padding-top: 3em;
  padding-bottom: 3em;
}
.features .wrapper {
  padding: 2px;
  border-radius: 6px;

  i {
    color: $gradient-end;
  }
}
.features .wrapper:hover {
  background-image: $gradient;

  & h5 {
    color: $blue;
  }
  & .far {
    color: $blue;
  }
  & a {
    color: $blue;
  }
}
