@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,200&family=Roboto:wght@100;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,200&family=Roboto+Slab:wght@100;200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,200&family=Open+Sans:wght@300;400;500;600;700&display=swap");
body {
  position: relative;
  font-family: "Open sans", sans-serif;
}

.btn {
  border-radius: 25px;
  background-color: #449bfd;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
}

section {
  padding-top: 5em;
  padding-bottom: 5em;
}
section p {
  color: rgb(128, 122, 122);
}

.section-hero {
  height: 100vh;
  background-image: linear-gradient(to right, #449bfd, #835ce4);
  -webkit-clip-path: ellipse(100% 55% at 48% 44%);
          clip-path: ellipse(100% 55% at 48% 44%);
}

.attributes .wrapper,
.team .wrapper {
  padding: 2px;
  border-radius: 6px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.attributes .wrapper i,
.team .wrapper i {
  color: #835ce4;
}
.attributes .wrapper:hover,
.team .wrapper:hover {
  background-image: linear-gradient(to right, #449bfd, #835ce4);
}
.attributes .wrapper:hover h5,
.team .wrapper:hover h5 {
  color: #449bfd;
}
.attributes .wrapper:hover .fa,
.team .wrapper:hover .fa {
  color: #449bfd;
}
.attributes .wrapper:hover a,
.team .wrapper:hover a {
  color: #449bfd;
}
.attributes .wrapper:hover p,
.team .wrapper:hover p {
  color: black;
}

.section-features {
  background-color: #efefef;
}

h5::after, .underlined::before, .underlined::after {
  position: absolute;
  content: "";
  height: 2px;
  width: 40px;
  left: 50%;
  bottom: -16px;
  transform: translateX(-50%);
  background-color: #449bfd;
}

.title {
  font-weight: 700;
}

.underlined {
  position: relative;
}
.underlined::after {
  width: 90px;
}
.underlined::before {
  width: 8px;
  height: 8px;
  bottom: -19px;
  border-radius: 50%;
}

h3 {
  font-size: 18px;
  font-weight: 600;
}

h5 {
  position: relative;
  font-size: 22px;
  font-weight: 700;
}
.navbar-nav .nav-item .nav-link {
  font-size: 14px;
  font-weight: 700;
}

.navbar-nav .nav-item .nav-link:hover,
.navbar-nav .nav-item .nav-link:active {
  color: #449bfd;
  position: relative;
}
.navbar-nav .nav-item .nav-link:hover::after,
.navbar-nav .nav-item .nav-link:active::after {
  position: absolute;
  content: "";
  left: 50%;
  bottom: 0.2rem;
  height: 2px;
  width: 98%;
  transform: translateX(-50%);
  background: #449bfd;
}

.section-features {
  padding-bottom: 0;
}
.section-features .card {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.section-features .card:hover h3 {
  color: #449bfd;
}
.section-features .card:hover .features-icon .wrapper {
  background-color: white;
}
.section-features .card:hover .wrapper .fa {
  color: #449bfd;
}

.features-image {
  background-image: url("../../images/phone_hand.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.features-icon .wrapper {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-top: 1.4em;
  background-color: #835ce4;
}
.features-icon .wrapper .fa {
  color: white;
  font-size: 22px;
}

.team {
  margin-top: 6em;
}

.overlay, .card-image {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  position: absolute;
  transform: translate(50%, -50%);
}

.card-image {
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0;
}

.team h5 {
  margin-top: 1.5em;
}

.overlay {
  z-index: 2;
  display: none;
  justify-content: space-between;
  align-items: center;
  padding: 2em;
  background-color: rgba(131, 92, 228, 0.8);
}
.overlay .fa {
  color: white;
  font-size: 22px;
}

.team .wrapper .card:hover .overlay {
  display: flex;
}
.team .wrapper .card:hover .fa {
  color: white;
}/*# sourceMappingURL=index.css.map */